.container {
    border: solid 1px;
}

.container-fluid {
    border: solid 1px;
}

body{
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}

.tableHeader {
    background-color: #1d4f63;
    color: whitesmoke;
    font-size: 1.5em;
}

.oddRow {
    background-color: #e7dcdc;
}

.evenRow {
    background-color: #f5f5f5;
}

table {
    width: 90%
}

@media print {
    .noprint {
        visibility: hidden;
    }
}

.wrap {
    word-wrap: break-word;
}